<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>A9781430236863-small</string>
		<key>name</key>
		<string>Ios Forensic Analysis</string>
		<key>price</key>
		<string>45.99</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>A9781430240563-small</string>
		<key>name</key>
		<string>iOS Table Views</string>
		<key>price</key>
		<string>34.99</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>A9781430244257-small</string>
		<key>name</key>
		<string>Objective-C Design Patterns for iOS</string>
		<key>price</key>
		<string>34.99</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>A9781430259985-small</string>
		<key>name</key>
		<string>Cocoa Touch for iOS</string>
		<key>price</key>
		<string>27.99</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>A9781430262862-small</string>
		<key>name</key>
		<string>IOS Wow Factor</string>
		<key>price</key>
		<string>17.99</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>A9781430268277-small</string>
		<key>name</key>
		<string>IOS7 Development Recipes</string>
		<key>price</key>
		<string>31.99</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>A9781590590713-small</string>
		<key>name</key>
		<string>iOS Media App</string>
		<key>price</key>
		<string>34.99</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>A9781590596609-small</string>
		<key>name</key>
		<string>iOS Continuous integration</string>
		<key>price</key>
		<string>41.99</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>A9781893115927-small</string>
		<key>name</key>
		<string>iOS8 Development Recipes</string>
		<key>price</key>
		<string>34.99</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>S9781852330934-small</string>
		<key>name</key>
		<string>WatchKit for iOS</string>
		<key>price</key>
		<string>27.99</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>S9781852335694-small</string>
		<key>name</key>
		<string>iOS Continuous integration Persistence</string>
		<key>price</key>
		<string>34.99</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>S9783540762010-small</string>
		<key>name</key>
		<string>iOS Storyboarding</string>
		<key>price</key>
		<string>27.99</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>A9781430225379-small</string>
		<key>name</key>
		<string>Ios Forensic Analysis</string>
		<key>price</key>
		<string>45.99</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>A9781430235309-small</string>
		<key>name</key>
		<string>iOS Table Views</string>
		<key>price</key>
		<string>34.99</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>A9781430245933-small</string>
		<key>name</key>
		<string>Objective-C Design Patterns for iOS</string>
		<key>price</key>
		<string>34.99</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>A9781430262800-small</string>
		<key>name</key>
		<string>Cocoa Touch for iOS</string>
		<key>price</key>
		<string>27.99</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>A9781430266709-small</string>
		<key>name</key>
		<string>IOS Wow Factor</string>
		<key>price</key>
		<string>17.99</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>A9781430267522-small</string>
		<key>name</key>
		<string>IOS7 Development Recipes</string>
		<key>price</key>
		<string>31.99</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>A9781590590553-small</string>
		<key>name</key>
		<string>iOS Media App</string>
		<key>price</key>
		<string>34.99</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>A9781590592571-small</string>
		<key>name</key>
		<string>iOS Continuous integration</string>
		<key>price</key>
		<string>41.99</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>A9781590592700-small</string>
		<key>name</key>
		<string>iOS8 Development Recipes</string>
		<key>price</key>
		<string>34.99</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>A9781590597170-small</string>
		<key>name</key>
		<string>WatchKit for iOS</string>
		<key>price</key>
		<string>27.99</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>A9781893115590-small</string>
		<key>name</key>
		<string>iOS Continuous integration Persistence</string>
		<key>price</key>
		<string>34.99</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>AwaitingCover_2_1</string>
		<key>name</key>
		<string>iOS Storyboarding</string>
		<key>price</key>
		<string>27.99</string>
	</dict>
</array>
</plist>
