<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>04_Socket_TCP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F3063D5C1C8ACE1200ED25AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3063D751C8ACE1200ED25AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3063D801C8ACE1200ED25AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
