<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>u=3517331754,4132441928&amp;fm=116&amp;gp=0.jpg</string>
		<key>message</key>
		<string>下课别走一起去打球吧,樱木太嚣张了</string>
		<key>name</key>
		<string>流川枫</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>u=3798480686,1113836088&amp;fm=116&amp;gp=0.jpg</string>
		<key>message</key>
		<string>晴子你在哪里,天才回来啦,哇咔咔咔!</string>
		<key>name</key>
		<string>樱木花道</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>u=1131637654,361137156&amp;fm=116&amp;gp=0.jpg</string>
		<key>message</key>
		<string>流川枫好呢,还是樱木好呢,这是个问题</string>
		<key>name</key>
		<string>赤木晴子</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>u=2664296715,1539553506&amp;fm=115&amp;gp=0.jpg</string>
		<key>message</key>
		<string>彩子,我回来啦</string>
		<key>name</key>
		<string>宫城良田</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>u=489108953,3916230025&amp;fm=116&amp;gp=0.jpg</string>
		<key>message</key>
		<string>果然湘北还是我最强,h哈哈哈哈</string>
		<key>name</key>
		<string>三井寿</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>u=2847956113,356655446&amp;fm=73.jpg</string>
		<key>message</key>
		<string>出任CEO,赢取白富美,走上人生巅峰,想想还有点小激动呢</string>
		<key>name</key>
		<string>王大锤</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>u=1750588945,3878307180&amp;fm=116&amp;gp=0.jpg</string>
		<key>message</key>
		<string>真相永远只有一个,那么就是....</string>
		<key>name</key>
		<string>柯南</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>u=771094499,2970471880&amp;fm=73.jpg</string>
		<key>message</key>
		<string>佐助你在哪里,人家真得好想你哦</string>
		<key>name</key>
		<string>鸣人</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>u=1921441684,3016277171&amp;fm=116&amp;gp=0.jpg</string>
		<key>message</key>
		<string>鸣人你个混蛋,快给老娘回来!</string>
		<key>name</key>
		<string>小樱</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>u=258638910,2368649427&amp;fm=116&amp;gp=0.jpg</string>
		<key>message</key>
		<string>代表月亮消灭你们</string>
		<key>name</key>
		<string>水冰月</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>u=2501978874,4107497460&amp;fm=73.jpg</string>
		<key>message</key>
		<string>我会回来的</string>
		<key>name</key>
		<string>灰太狼</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>u=420269739,4055214897&amp;fm=116&amp;gp=0.jpg</string>
		<key>message</key>
		<string>正义永远会战胜邪恶</string>
		<key>name</key>
		<string>蜘蛛侠</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>u=2467993604,2214303932&amp;fm=73.jpg</string>
		<key>message</key>
		<string>么么哒</string>
		<key>name</key>
		<string>绿巨人</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>u=2546394708,3520133175&amp;fm=116&amp;gp=0.jpg</string>
		<key>message</key>
		<string>开始复仇者模式吧</string>
		<key>name</key>
		<string>钢铁侠</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>u=1851738636,1253305356&amp;fm=73.jpg</string>
		<key>message</key>
		<string>开启死神模式吧,一起战斗亲</string>
		<key>name</key>
		<string>死神</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>u=540284258,3211756076&amp;fm=116&amp;gp=0.jpg</string>
		<key>message</key>
		<string>称为海贼一样的男人</string>
		<key>name</key>
		<string>路飞</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>u=1903064324,3487698917&amp;fm=116&amp;gp=0.jpg</string>
		<key>message</key>
		<string>大雄是不是又被欺负了呢,真是有点担心呀</string>
		<key>name</key>
		<string>哆啦A梦</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>u=2569296458,1059323620&amp;fm=116&amp;gp=0.jpg</string>
		<key>message</key>
		<string>我是超人我怕谁</string>
		<key>name</key>
		<string>克拉克</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>u=2021222091,384974636&amp;fm=116&amp;gp=0.jpg</string>
		<key>message</key>
		<string>你是我的眼,黑夜中的光明</string>
		<key>name</key>
		<string>蝙蝠侠</string>
	</dict>
</array>
</plist>
