<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>04_HiddenAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F3A853D11C8FD253004CB6C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3A853EA1C8FD253004CB6C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3A853F51C8FD253004CB6C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
