<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>category</key>
		<string>large</string>
		<key>picture</key>
		<string>4930039056</string>
		<key>source</key>
		<string>看看新闻</string>
		<key>time</key>
		<string>7小时前</string>
		<key>title</key>
		<string>第18届上海电影节闭幕</string>
	</dict>
	<dict>
		<key>category</key>
		<string>list</string>
		<key>pics</key>
		<array>
			<string>4994729485</string>
			<string>5664158422</string>
			<string>5664158886</string>
		</array>
		<key>source</key>
		<string>新浪博客</string>
		<key>time</key>
		<string>3小时前</string>
		<key>title</key>
		<string>江一燕霍思燕何止撞脸更撞穿衣风格</string>
	</dict>
	<dict>
		<key>category</key>
		<string>list</string>
		<key>pics</key>
		<array>
			<string>4049807774</string>
			<string>4643693324</string>
			<string>5860822010</string>
		</array>
		<key>source</key>
		<string>邯郸之窗</string>
		<key>time</key>
		<string>3小时前</string>
		<key>title</key>
		<string>朋友圈发个红包,结果6800元没了,微信这些开关一定要关掉</string>
	</dict>
	<dict>
		<key>category</key>
		<string>origin</string>
		<key>picture</key>
		<string>5500521363</string>
		<key>source</key>
		<string>好奇心日报</string>
		<key>title</key>
		<string>E3大展上打了几把虚拟现实游戏,q却发现最重要的是故事</string>
	</dict>
	<dict>
		<key>category</key>
		<string>list</string>
		<key>pics</key>
		<array>
			<string>605080368</string>
			<string>1779021690</string>
			<string>8463898107</string>
		</array>
		<key>source</key>
		<string>手机人民报</string>
		<key>time</key>
		<string>4小时前</string>
		<key>title</key>
		<string>&lt;还珠&gt;珍藏级别老照片曝光,赵薇与苏有朋当众亲吻</string>
	</dict>
	<dict>
		<key>appname</key>
		<string>万能钥匙</string>
		<key>category</key>
		<string>app</string>
		<key>icon</key>
		<string>2015125172322</string>
		<key>title</key>
		<string>WIFI万能钥匙: 5亿用户口碑相传免费上网神器</string>
	</dict>
	<dict>
		<key>category</key>
		<string>list</string>
		<key>pics</key>
		<array>
			<string>4950098942</string>
			<string>8368377744</string>
			<string>8368415933</string>
		</array>
		<key>source</key>
		<string>新浪博客</string>
		<key>time</key>
		<string>4小时前</string>
		<key>title</key>
		<string>踏勘谋杀屈原现场:政客们的卑鄙谋杀案,是这样发生的</string>
	</dict>
	<dict>
		<key>category</key>
		<string>large</string>
		<key>picture</key>
		<string>4012019721</string>
		<key>source</key>
		<string>光明网</string>
		<key>time</key>
		<string>10小时前</string>
		<key>title</key>
		<string>印度总理莫迪数万人做瑜伽创记录</string>
	</dict>
	<dict>
		<key>category</key>
		<string>list</string>
		<key>pics</key>
		<array>
			<string>8368415777</string>
			<string>8368417654</string>
			<string>8368413876</string>
		</array>
		<key>source</key>
		<string>手机凤凰网</string>
		<key>time</key>
		<string>4小时前</string>
		<key>title</key>
		<string>上海电影节闭幕红毯 郭采洁撞衫高圆圆尴尬现场直播</string>
	</dict>
	<dict>
		<key>appname</key>
		<string>百度云</string>
		<key>category</key>
		<string>app</string>
		<key>icon</key>
		<string>201536173117</string>
		<key>title</key>
		<string>无需任何操作，登录手机客户端即可领取2T超大永久免费空间</string>
	</dict>
	<dict>
		<key>category</key>
		<string>list</string>
		<key>pics</key>
		<array>
			<string>83667413876</string>
			<string>3776092860</string>
			<string>3116478864</string>
		</array>
		<key>source</key>
		<string>手机凤凰网</string>
		<key>time</key>
		<string>4小时前</string>
		<key>title</key>
		<string>汪小菲逗乐1岁小女儿 小玥儿咧嘴变&quot;迷你大S&quot;</string>
	</dict>
	<dict>
		<key>category</key>
		<string>origin</string>
		<key>picture</key>
		<string>3317885708</string>
		<key>source</key>
		<string>养车无忧网</string>
		<key>title</key>
		<string>通知 : 您还有一张1000元免单券尚未领取!</string>
	</dict>
	<dict>
		<key>category</key>
		<string>origin</string>
		<key>picture</key>
		<string>3317885123</string>
		<key>source</key>
		<string>新浪娱乐</string>
		<key>title</key>
		<string>小糯米正面照片被曝光 杨幂心疼又如何</string>
	</dict>
	<dict>
		<key>category</key>
		<string>large</string>
		<key>picture</key>
		<string>2082209149</string>
		<key>source</key>
		<string>光明网</string>
		<key>time</key>
		<string>6小时前</string>
		<key>title</key>
		<string>江苏无锡轿车失控撞死4人 10余人受伤</string>
	</dict>
	<dict>
		<key>category</key>
		<string>origin</string>
		<key>picture</key>
		<string>7997409523</string>
		<key>source</key>
		<string>TechWeb</string>
		<key>title</key>
		<string>北大发现iOS重大安全漏洞: 苹果称会修复</string>
	</dict>
	<dict>
		<key>category</key>
		<string>origin</string>
		<key>picture</key>
		<string>2865757565</string>
		<key>source</key>
		<string>南方都市报</string>
		<key>title</key>
		<string>主任一家四口离世 狗狗守在凶案现场不愿离去</string>
	</dict>
	<dict>
		<key>appname</key>
		<string>美丽说</string>
		<key>category</key>
		<string>app</string>
		<key>icon</key>
		<string>20156189143</string>
		<key>title</key>
		<string>下载美丽说hd版，每天上新千款最流行服饰，超值价格，优质保障，一键把流行带回家！</string>
	</dict>
	<dict>
		<key>category</key>
		<string>large</string>
		<key>picture</key>
		<string>5015643048</string>
		<key>source</key>
		<string>中新网移动版</string>
		<key>time</key>
		<string>10小时前</string>
		<key>title</key>
		<string>人民大会堂金色大厅中央位置更新画作</string>
	</dict>
	<dict>
		<key>category</key>
		<string>origin</string>
		<key>picture</key>
		<string>3104012428</string>
		<key>source</key>
		<string>酸柠娱乐</string>
		<key>title</key>
		<string>出轨门后又遇旧爱!郝蕾深V秀豪乳为前男友颁奖</string>
	</dict>
	<dict>
		<key>category</key>
		<string>large</string>
		<key>picture</key>
		<string>1741203395</string>
		<key>source</key>
		<string>光明网</string>
		<key>time</key>
		<string>10小时前</string>
		<key>title</key>
		<string>活动家秘密记录下狗肉节到来前的场景</string>
	</dict>
	<dict>
		<key>category</key>
		<string>large</string>
		<key>picture</key>
		<string>867651388</string>
		<key>source</key>
		<string>新华网</string>
		<key>time</key>
		<string>10小时前</string>
		<key>title</key>
		<string>蒙古国举行多国维和军事演习 中国首次派兵参演尽显我中华军威力</string>
	</dict>
	<dict>
		<key>appname</key>
		<string>仙剑奇侠传</string>
		<key>category</key>
		<string>app</string>
		<key>icon</key>
		<string>20156189395</string>
		<key>title</key>
		<string>80后永远难忘的回忆,仙剑奇侠传官方重置版</string>
	</dict>
</array>
</plist>
