<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>03_POSTDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F356ACE81C897DF0001A1DE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F356AD011C897DF0001A1DE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F356AD0C1C897DF1001A1DE4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
